@font-face {
  font-family: "iconfont"; /* Project id 3926091 */
  src: url('iconfont.woff2?t=1677724840096') format('woff2'),
       url('iconfont.woff?t=1677724840096') format('woff'),
       url('iconfont.ttf?t=1677724840096') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e600";
}

.icon-1mulu:before {
  content: "\e643";
}

.icon-movedown:before {
  content: "\e66b";
}

.icon-moveup:before {
  content: "\e66c";
}

.icon-tv:before {
  content: "\eb34";
}

.icon-folder_delete:before {
  content: "\e658";
}

.icon-folder_ok:before {
  content: "\e659";
}

.icon-grid-view:before {
  content: "\e601";
}

.icon-image:before {
  content: "\e7de";
}

.icon-paper-plane:before {
  content: "\e7eb";
}

.icon-layer-group:before {
  content: "\e7f7";
}

.icon-arrow-to-bottom:before {
  content: "\e83c";
}

.icon-arrow-to-top:before {
  content: "\e83d";
}

.icon-flip-vertically:before {
  content: "\e70a";
}

.icon-flip-horizontally:before {
  content: "\e70b";
}

.icon-keyboard_hide:before {
  content: "\e96c";
}

.icon-toolbox-solid:before {
  content: "\e7a3";
}

.icon-box:before {
  content: "\e7a9";
}

