@font-face {
  font-family: "iconfont"; /* Project id 3926091 */
  src: url('iconfont.woff2?t=1677728673047') format('woff2'),
       url('iconfont.woff?t=1677728673047') format('woff'),
       url('iconfont.ttf?t=1677728673047') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-layout-left-panel-1:before {
  content: "\e6c0";
}

.icon-folder:before {
  content: "\e65a";
}

.icon-camera:before {
  content: "\e600";
}

.icon-folder_delete:before {
  content: "\e658";
}

.icon-grid-view:before {
  content: "\e601";
}

.icon-layer-group:before {
  content: "\e7f7";
}

.icon-flip-vertically:before {
  content: "\e70a";
}

.icon-flip-horizontally:before {
  content: "\e70b";
}

.icon-keyboard_hide:before {
  content: "\e96c";
}

.icon-toolbox-solid:before {
  content: "\e7a3";
}

.icon-box:before {
  content: "\e7a9";
}

